@using BLL.DTO;
@model WEB.Views.Curriculum.CurriculumsModel
@{
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Admin</title>

    <link rel="stylesheet" href="~/css/StyleHome.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Login.css">


</head>


<body>
    <header>
        <div class="child">
            <div class="wrap">
                @*<span class="decor"></span>*@
                <nav>
                    <ul class="primary">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="VHomeUser">Головна</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="FormDelivery" asp-action="GetFormDelivery">Перелік типів здачі предметів</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="FormDelivery" asp-action="Add_FormDelivery">Добавити тип здачі</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Cycle" asp-action="GetCycle">Перелік циклів</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="Cycle" asp-action="Add_Cycle">Добавити цикл</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="UnderCycle" asp-action="GetUnderCycle">Перелік підциклів</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="UnderCycle" asp-action="Add_UnderCycle">Добавити підцикл</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Curriculum" asp-action="GetCurriculum">Перелік НП</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="Curriculum" asp-action="Add_Curriculum">Створити НП</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="wrap_">
                <nav>
                    <ul class="primary">
                        <li>
                            <a href="">Акаунт ▽</a>
                            <ul class="sub">
                                <li><a href="">Налаштування</a></li>
                                <li><a asp-area="" asp-controller="account" asp-action="logout">Вихід</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <style>
        table {
            width: 30%; /* Ширина таблицы */
            padding-top: 50px;
            padding-left: 10px;
            color: black; /* Цвет текста */
            border-spacing: 1px; /* Расстояние между ячейками */
        }

        td, th {
            background: #FFCC99; /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг текста */
        }
    </style>

    <table>
        <tr>
            <th colspan="11"> Список НП</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Підготовка</th>
            <th>Галузь знань</th>
            <th>Факультет</th>
            <th>Спеціальність</th>
            <th>Кваліфікація</th>
            <th>Спеціалізація</th>
            <th>Термін навчання</th>
            <th>Форма навчання</th>
            <th>На основі</th>
            <th>Кафедра</th>
        </tr>

        @foreach (CurriculumDTO list in Model.newList)
        {
            <tr>
                <td>@list.Id_Curriculum </td>
                <td>@list.NameEducationalDegree </td>
                <td>@list.NameKnowledgeArea</td>
                <td>@list.NameFaculty</td>
                <td>@list.NameSpesialty </td>
                <td>@list.Qualification </td>
                <td>@list.NameSpecialization</td>
                <td>@list.TrainingPeriod</td>
                <td>@list.NameForm_of_education</td>
                <td>@list.BasedOn</td>
                <td>@list.NameCathedra</td>
            </tr>
        }
    </table>
</body>
